* {
    box-sizing: border-box;
    font-size: 65.5%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #fff;
    }

    .main {
        width: 100% !important;
        padding: 0 !important;
        /* border: 1px solid black; */
        

    }

    .tab {
        font-size: 1rem !important;
    }

    .form-control {
        padding: .5rem !important;
    }

    input, select {
        padding: .8rem !important;
    }

    .btn {
        font-size: 1.2rem !important;
    }
    
    .form {
        font-size: 3.5rem !important;
    }
}


.main {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 60%;
    height: 140vh;
    background-color: #fff;
    border-radius: 10px;
}

.tab {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: .8rem; */
    
}


.tablink {
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid #555;
    background-color: #fff;
    text-transform: uppercase;
}

.tablink:active, 
.tablink:visited, 
.tablink:focus {
    border-bottom: 2px solid aqua;
}

.header {
    font-size: 1.6rem;
    padding: .5rem;
}

.form {
    width: 100%;
    font-size: 3rem;
}

label {
    width: 20%;
    margin-right: 2rem;
    text-align: right;
    font-weight: 500;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

input, select {
    width: 80%;
    border: none;
    padding: .5rem;
    outline: none;
    border-bottom: 1px solid black;
}

/* .choose-file {
    display: flex;
    justify-content: space-between; */
/* } */

.file {
    width: 20%;
    border: none;
}


 .webcam {
    border: 1px solid #555;
    padding: 2px;
    width: 50px;
    border-radius: 2px;
} 


#my_camera{
    width: 100px;
    height: 80px;
    margin-left: 10rem;
    border: 1px solid black;
}

#AppInfo {
    margin-bottom: 2rem;
}


.btn-container {
    margin-top: 4rem;
    margin-left: 20rem;
    width: 15%;

}


.btn {
    width: 100%;
    font-size: 1rem;
    padding: .8rem;
    border: none;
    background-color: green;
    color: #fff;
    align-self: center;

}