* {
    box-sizing: border-box;
    font-size: 70.5%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 65.5% !important;
    }
    body {
        background-color: #fff;
    }

    .main {
        width: 100% !important;
        padding: 1rem !important;
        /* border: 1px solid black; */
        

    }

    .header {
        font-size: 1.2rem !important;
    }

    .tab {
        font-size: 1.1rem !important;
    }

    .form-control {
        padding: .5rem !important;
    }

    input, select {
        padding: .8rem !important;
    }

    .btn {
        font-size: 1.2rem !important;
    }
    
    .form {
        font-size: 3.5rem !important;
    }
}


.main {
    margin: 0 auto;
    padding: 2.5rem;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    border-radius: 10px;
}

.tab {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 1rem;
    /* padding: .8rem; */
    
}


.tablink {
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid #555;
    background-color: #fff;
    text-transform: uppercase;
}

.tablink:active, 
.tablink:visited, 
.tablink:focus {
    border-bottom: 2px solid aqua;
}

.header {
    font-size: 2rem;
    padding: .5rem;
}

.form {
    width: 100%;
    font-size: 3rem;
}

#AppInfo {
    margin-bottom: 1rem;
}

#AppHlt {
    margin-bottom: 23rem;
}

#Father {
    margin-bottom: 13rem;
}

#Mother {
    margin-bottom: 8rem;
}

label {
    width: 20%;
    margin-right: 2rem;
    text-align: right;
    font-weight: 500;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

input, select {
    width: 80%;
    border: none;
    padding: .5rem;
    outline: none;
    border-bottom: 1px solid black;
}

.choose-file {
    display: flex;
    justify-content: space-evenly; 
}

.file {
    width: 30%;
    margin-right: 1rem;
    border: none;
}



#my_camera{
    width: 100px;
    height: 80px;
    margin-right: .8rem;
    border: 1px solid black;
}


.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}


.btn {
    font-size: 1.3rem;
    padding: .8rem;
    border: none;
    background-color: green;
    color: #fff;
    text-align: center;
}

.btn:hover {
    background-color: #fff;
    color: green;
    border: 1px solid green;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.page {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 2rem .5rem;
    position: relative;
    
}

.page-link {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    list-style: none;
    align-self: center;
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer;
}
